@model DeckOfPlayingCards.Web.ViewModels.PlayerCardViewModel

@using (Html.BeginForm())
{
    <div class="mainDiv">
        @foreach (var item in Model.Cards)
        {
        <div class="row text-left">
            <div class="col-md-4">
                <p><strong>@item.CardsInHand</strong>
                </p>
            </div>
        </div>
        }
    </div>

    <div class="row text-left">    
    <div class="col-md-4 display">
        <span>
            @Html.ActionLink("Shuffle And Display", "Index", null, new { @class = "btn btn-default" })            
        </span>
    </div>
</div>
}